GEMINI_API_KEY=YOUR-GEMINI_API_KEY
OPENAI_API_KEY=YOUR-OPENAI_API_KEY
OPENAI_API_MODEL="gemini-2.5-flash"
DEBUG=True
# MySQL
DATABASE_URL=mysql+pymysql://root:@localhost:3306/ai_chat
SECRET_KEY=your-super-secret-jwt-key